<%= form_with(model: contact) do |form| %>
  <% if contact.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(contact.errors.count, "error") %> prohibited this contact from being saved:</h2>

      <ul>
        <% contact.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row mb-3 justify-content-center">
    <%= form.label :name, "Nom", class: "col-auto col-form-label" %>
    <div class="col">
      <%= form.text_field :name, class: "form-control" %>
    </div>
  </div>

  <div class="row mb-3 justify-content-center">
    <%= form.label :tel, "Numéro de téléphone", class: "col-auto col-form-label" %>
    <div class="col">
      <%= form.text_field :tel, class: "form-control" %>
    </div>
  </div>

  <div class="row mb-3 justify-content-center">
    <%= form.label :email, "Email", class: "col-auto col-form-label" %>
    <div class="col">
      <%= form.email_field :email, class: "form-control" %>
    </div>
  </div>

  <div class="row mb-3 justify-content-center">
    <%= form.label :type_name, "Type", class: "col-auto col-form-label" %>
    <div class="col">
      <% if contact.type_name == "prospect" %>
        <%= form.select :type_name, options_for_select(Contact.type_names.values.to_a, "Prospect"), {}, class: "form-select" %>
      <% else %>
        <%= form.select :type_name, options_for_select(Contact.type_names.values.to_a, "Client"), {}, class: "form-select" %>
      <% end %>
    </div>
  </div>

  <div class="row mb-3 justify-content-center">
    <%= form.label :status, "Status", class: "col-auto col-form-label" %>
    <div class="col">
      <% if contact.status == "nothing" %>
        <%= form.select :status, options_for_select(Contact.statuses.values.to_a, "Rien"), {}, class: "form-select" %>
      <% elsif contact.status == "to_contact" %>
        <%= form.select :status, options_for_select(Contact.statuses.values.to_a, "A contacté"), {}, class: "form-select" %>
      <% else %>
        <%= form.select :status, options_for_select(Contact.statuses.values.to_a, "Transaction(s) en cours"), {}, class: "form-select" %>
      <% end %>
    </div>
  </div>

  <div class="row mb-3">
    <%= form.submit "Confirmer", class:'btn btn-primary' %>
  </div>
<% end %>
