<p style="color: green"><%= notice %></p>

<%= render @contact %>

<div>
  <%= link_to "Éditer ce contact", edit_contact_path(@contact), class:'btn btn-warning' %> |
  <%= link_to "Retour aux contacts", contacts_path, class:'btn btn-primary' %>

  <%= button_to "Supprimer ce contact", @contact, method: :delete, class:'btn btn-danger' %>
</div>
