<%= form_with(model: transaction) do |form| %>
  <% if transaction.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

      <ul>
        <% transaction.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row mb-3 justify-content-center">
    <%= form.label :contact_id, class: "col-auto col-form-label" %>
    <div class="col">
      <%= form.select :contact_id, options_for_select(Contact.all.map{|c|[c.name, c.id]}), {}, class: "form-select" %>
    </div>
    <%= link_to(contacts_path, class: "btn btn-primary col-auto") do %>
    <i class="bi bi-plus-slash-minus"></i>
    <% end %>
  </div>

  <div class="row mb-3 justify-content-center">
    <%= form.label :product_id, class: "col-auto col-form-label" %>
    <div class="col">
      <%= form.select :product_id, options_for_select(Product.all.map{|p|[p.name, p.id]}), {}, class: "form-select" %>
    </div>
    <%= link_to(products_path, class: "btn btn-primary col-auto") do %>
    <i class="bi bi-plus-slash-minus"></i>
    <% end %>
  </div>

  <div class="row mb-3 justify-content-center">
    <%= form.label :status, "Status", class: "col-auto col-form-label" %>
    <div class="col">
      <% if transaction.status == "negociation" %>
        <%= form.select :status, options_for_select(Transaction.statuses.values.to_a, "Négociation en cours"), {}, class: "form-select" %>
      <% elsif transaction.status == "wait_command" %>
        <%= form.select :status, options_for_select(Transaction.statuses.values.to_a, "Commande en cours"), {}, class: "form-select" %>
      <% else %>
        <%= form.select :status, options_for_select(Transaction.statuses.values.to_a, "Terminé"), {}, class: "form-select" %>
      <% end %>
    </div>
  </div>

  <div class="row mb-3 justify-content-center">
    <%= form.label :date_livraison, class: "col-auto col-form-label" %>
    <div class="col">
      <%= form.datetime_field :date_livraison, class: "form-control" %>
    </div>
  </div>

  <div class="row mb-3">
    <%= form.submit "Confirmer", class:'btn btn-primary' %>
  </div>
<% end %>
