<p style="color: green"><%= notice %></p>

<%= render @transaction %>

<div>
  <%= link_to "Éditer cette transaction", edit_transaction_path(@transaction), class:'btn btn-warning' %> |
  <%= link_to "Retour aux transactions", transactions_path, class:'btn btn-primary' %>

  <%= button_to "Supprimer cette transaction", @transaction, method: :delete, class:'btn btn-danger' %>
</div>
