<p style="color: green"><%= notice %></p>

<h1>Produits</h1>

<div id="products">
  <table class="table align-middle">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Produit</th>
        <th scope="col">Catégorie</th>
        <th scope="col">Prix</th>
        <th scope="col">En stock</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <% @products.each do |product| %>
        <tr>
          <th scope="row"><%= product.id %></th>
          <td><%= product.name %></td>
          <td><%= Category.find(product.category_id).name %></td>
          <td><%= product.price %>€</td>
          <td><%= product.remaining_quantity %></td>
          <td>
          <div class="d-flex justify-content-center">
          <%= link_to(edit_product_path(product), class: "btn btn-warning text-light me-2") do %>
          <i class="bi bi-pencil-square"></i>
          <% end %>
          <%= button_to(product, method: :delete, class: "btn btn-danger") do %>
          <i class="bi bi-trash"></i>
          <% end %>
          </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= link_to "Nouveau produit", new_product_path, class: "btn btn-primary" %>