<p style="color: green"><%= notice %></p>

<%= render @product %>

<div>
  <%= link_to "Éditer ce produit", edit_product_path(@product), class:'btn btn-warning' %> |
  <%= link_to "Retour aux produits", products_path, class:'btn btn-primary' %>

  <%= button_to "Supprimer ce produit", @product, method: :delete, class:'btn btn-danger' %>
</div>
